        </div>
        <hr />

        <footer>
            <p>microblog demo with practise.<a>&copy2018</a></p>
        </footer>
    </div>
</body>
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/bootstrap.js"></script>
</html>