<div class="col-sm-offset-3 col-sm-6 well">
    <form class="form-inline" style="text-align: center" action="/post" method="post">
        <div class="col-sm-10">
            <input type="text" name="post" class="form-control" style="width: 100%" placeholder="Say what...">
        </div>
        <button class="btn btn-default" type="submit">Go!</button>
    </form>
</div>